In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import torch
import sklearn as sk

In [36]:
data = []
with open("AP_FLUX_SN.txt", "r") as f:
    for line in f.readlines():
        data.append([x for x in line.split(" ") if len(x) > 0])

In [40]:
data = [x[:-1] for x in data]

In [46]:
data_train = pd.DataFrame(data[1:], columns=data[0])
data_train

,YYY,MM,DD,days,days_m,Bsr,dB,Kp1,Kp2,Kp3,...,ap3,ap4,ap5,ap6,ap7,ap8,Ap,SN,F10.7obs,F10.7adj
0,1932,01,01,0,0.5,1352,10,3.333,2.667,2.333,...,9,12,18,12,18,18,15,22,-1.0,-1.0
1,1932,01,02,1,1.5,1352,11,3.667,3.667,3.333,...,18,22,18,39,15,48,26,43,-1.0,-1.0
2,1932,01,03,2,2.5,1352,12,3.333,3.333,3.000,...,15,4,9,6,12,7,11,23,-1.0,-1.0
3,1932,01,04,3,3.5,1352,13,2.000,0.333,1.000,...,4,0,4,5,5,4,4,13,-1.0,-1.0
4,1932,01,05,4,4.5,1352,14,0.000,0.000,0.333,...,2,3,2,5,5,7,3,13,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33045,2022,06,22,33045,33045.5,2576,7,2.333,1.667,3.000,...,15,9,9,5,12,9,9,96,128.7,132.9
33046,2022,06,23,33046,33046.5,2576,8,3.000,2.667,2.333,...,9,9,5,5,15,9,10,74,121.4,125.5
33047,2022,06,24,33047,33047.5,2576,9,2.333,0.667,0.333,...,2,2,3,5,15,15,7,67,115.4,119.2
33048,2022,06,25,33048,33048.5,2576,10,3.000,1.667,2.333,...,9,6,7,12,32,39,16,49,108.1,111.7
33049,2022,06,26,33049,33049.5,2576,11,4.667,2.333,2.000,...,7,32,32,-1,-1,-1,-1,33,-1.0,-1.0

In [48]:
data_train.columns

Index(['YYY', 'MM', 'DD', 'days', 'days_m', 'Bsr', 'dB', 'Kp1', 'Kp2', 'Kp3',
       'Kp4', 'Kp5', 'Kp6', 'Kp7', 'Kp8', 'ap1', 'ap2', 'ap3', 'ap4', 'ap5',
       'ap6', 'ap7', 'ap8', 'Ap', 'SN', 'F10.7obs', 'F10.7adj'],
      dtype='object')

In [50]:
data_train.astype(float)

,YYY,MM,DD,days,days_m,Bsr,dB,Kp1,Kp2,Kp3,...,ap3,ap4,ap5,ap6,ap7,ap8,Ap,SN,F10.7obs,F10.7adj
0,1932.0,1.0,1.0,0.0,0.5,1352.0,10.0,3.333,2.667,2.333,...,9.0,12.0,18.0,12.0,18.0,18.0,15.0,22.0,-1.0,-1.0
1,1932.0,1.0,2.0,1.0,1.5,1352.0,11.0,3.667,3.667,3.333,...,18.0,22.0,18.0,39.0,15.0,48.0,26.0,43.0,-1.0,-1.0
2,1932.0,1.0,3.0,2.0,2.5,1352.0,12.0,3.333,3.333,3.000,...,15.0,4.0,9.0,6.0,12.0,7.0,11.0,23.0,-1.0,-1.0
3,1932.0,1.0,4.0,3.0,3.5,1352.0,13.0,2.000,0.333,1.000,...,4.0,0.0,4.0,5.0,5.0,4.0,4.0,13.0,-1.0,-1.0
4,1932.0,1.0,5.0,4.0,4.5,1352.0,14.0,0.000,0.000,0.333,...,2.0,3.0,2.0,5.0,5.0,7.0,3.0,13.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33045,2022.0,6.0,22.0,33045.0,33045.5,2576.0,7.0,2.333,1.667,3.000,...,15.0,9.0,9.0,5.0,12.0,9.0,9.0,96.0,128.7,132.9
33046,2022.0,6.0,23.0,33046.0,33046.5,2576.0,8.0,3.000,2.667,2.333,...,9.0,9.0,5.0,5.0,15.0,9.0,10.0,74.0,121.4,125.5
33047,2022.0,6.0,24.0,33047.0,33047.5,2576.0,9.0,2.333,0.667,0.333,...,2.0,2.0,3.0,5.0,15.0,15.0,7.0,67.0,115.4,119.2
33048,2022.0,6.0,25.0,33048.0,33048.5,2576.0,10.0,3.000,1.667,2.333,...,9.0,6.0,7.0,12.0,32.0,39.0,16.0,49.0,108.1,111.7
33049,2022.0,6.0,26.0,33049.0,33049.5,2576.0,11.0,4.667,2.333,2.000,...,7.0,32.0,32.0,-1.0,-1.0,-1.0,-1.0,33.0,-1.0,-1.0

In [ ]:
data_train.astype(float)